AUTO_CHECKIN_ACCOUNT_NAMES=acc1

AUTO_CHECKIN_ACC1_NAME=example-newapi
AUTO_CHECKIN_ACC1_SITE_TYPE=new-api
AUTO_CHECKIN_ACC1_BASE_URL=https://example.com
AUTO_CHECKIN_ACC1_AUTH_TYPE=token
AUTO_CHECKIN_ACC1_USER_ID=123
AUTO_CHECKIN_ACC1_ACCESS_TOKEN=your-token
AUTO_CHECKIN_ACC1_ENABLED=true
